#!/bin/bash
# Installs declared Homebrew packages on `chezmoi apply` whenever the
# package list changes.
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -eufo pipefail

{{ $d := index .packages "darwin" | default (dict) -}}
{{ $shared := index $d "shared" | default (dict) -}}
{{ $m := index $d .machine | default (dict) -}}
brew bundle --file=/dev/stdin <<EOF
{{ range concat (index $shared "taps" | default list) (index $m "taps" | default list) }}tap {{ . | quote }}
{{ end -}}
{{ range concat (index $shared "brews" | default list) (index $m "brews" | default list) }}brew {{ . | quote }}
{{ end -}}
{{ range concat (index $shared "casks" | default list) (index $m "casks" | default list) }}cask {{ . | quote }}
{{ end -}}
EOF
